.main {
  max-width: 480px;
  margin: 0 auto;
  height: 100dvh;
  padding-left: 10px;
  padding-right: 10px;
}
.main .messages{
  height: calc(100dvh - 80px);
  overflow-y: auto;
}
.main .chatbox{
  height: 80px;
}
.input-message{
  padding-left: 40px;
  /* height: 38px !important; */
  /* line-height: 24px; */
  /* resize: none;
  scrollbar-width: none;
  -ms-overflow-style: none */
}
.input-message::-webkit-scrollbar{
  display: none;
}
.emoji-toggle{
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  font-size: 20px;
  color: #9c9c9c;
  cursor: pointer;
}
.send-message i{
  font-size: 24px;
  color: #9c9c9c;
  cursor: pointer;
}
em-emoji-picker{
  position: absolute;
  bottom: 90px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

/* scrollbar  */
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1; 
}
