/* *{
  opacity: 0.9;
} */
*:focus{
  box-shadow: none !important;
}
.main {
  max-width: 480px;
  margin: 0 auto;
  height: 100dvh;
  position: relative;
}

.main .messages{
  height: calc(100dvh - 100px);
  overflow-y: auto;
}
.main .chatbox{
  height: 100px;
  padding-top: 15px;
  /* border-top: 1px solid #f1f1f1; */
}
.main .message{
  
}
.main .message-text{
  color: #444;
  background-color: #f0f0f0;
}
.main .me .message-text{
  color: #081b3a;
  background-color: #dbebff;
}
.main .messages .message-time{
  font-size: 10px;
  font-weight: 500;
  color: #9c9c9c;
}

.main .message-image{
  max-width: 50%;
}

.input-message {
  padding-left: 40px;
  /* padding-top: 8px; */
  height: 38px;
  font-size: 16px;
  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem;
  border-right: none;
  resize: none;
}
.input-message:focus{
  border-color: #dee2e6;
}
/* .input-message:focus + .send-message{
  border-color: #cacaca !important;
} */
/* .input-message::-webkit-scrollbar{
  display: none;
} */
.send-message{
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  padding: 0 10px;
}
.send-message i{
  font-size: 20px;
  color: #9c9c9c;
  cursor: pointer;
}
.chat-features .btn-toggle{
  font-size: 20px;
  color: #9c9c9c;
  cursor: pointer;
}
.gif-toggle{
  
}
.gif-picker-box{
  width: fit-content;
  position: absolute;
  bottom: 90px;
  left: 1rem;
}

.image-toggle{
  
}

.emoji-toggle{
  top: 50%;
  left: 14px;
  transform: translate(0, -50%);
  font-size: 20px;
  color: #9c9c9c;
  cursor: pointer;
  z-index: 5;
}
em-emoji-picker{
  position: absolute;
  bottom: 90px;
  left: 1rem;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

/* scrollbar  */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1; 
}
